//
//  Release.xcconfig
//  iosApp
//
//  Created by Luis Miguel Antonio Andrade on 30/07/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
BUNDLE_ID=com.andradel.pathfinders
APP_NAME=Pathfinders Debug
GOOGLE_SERVICE=$(SRCROOT)/Firebase/GoogleService-Info-Production.plist
