name: Build & upload to Firebase App Distribution

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build-unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Add content to temporary google-services file
        run: |
          cat << 'EOF' > ./androidApp/src/unitRelease/google-services.json
          ${{ secrets.FB_UNIT_CREDENTIALS }}
          EOF

      - name: Build Unit release
        run: ./gradlew assembleUnitRelease -PstorePassword=${{ secrets.PATHFINDERS_STORE_PASSWD }} -PkeyPassword=${{ secrets.PATHFINDERS_KEY_PASSWD }}

      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FB_UNIT_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FB_UNIT_CREDENTIALS_APP_DIST }}
          groups: Testers
          file: ./androidApp/build/outputs/apk/unit/release/app-unit-release.apk

  build-pathfinders:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Add content to temporary google-services file
        run: |
          cat << 'EOF' > ./androidApp/src/pathfindersRelease/google-services.json
          ${{ secrets.FB_PATHFINDERS_CREDENTIALS }}
          EOF

      - name: Build Pathfinders release
        run: ./gradlew assemblePathfindersRelease -PstorePassword=${{ secrets.PATHFINDERS_STORE_PASSWD }} -PkeyPassword=${{ secrets.PATHFINDERS_KEY_PASSWD }}

      - name: Upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FB_PATHFINDERS_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FB_PATHFINDERS_CREDENTIALS_APP_DIST }}
          groups: Testers
          file: ./androidApp/build/outputs/apk/pathfinders/release/app-pathfinders-release.apk

  cleanup:
    runs-on: ubuntu-latest
    needs: [build-unit, build-pathfinders]
    if: always()
    steps:
      - name: Delete Unit temporary file
        run: rm -rf app/src/unitRelease/google-services.json

      - name: Delete Pathfinders temporary file
        run: rm -rf app/src/pathfindersRelease/google-services.json